@font-face {
    font-family: 'Kharkiv Tone';
    src: local('Kharkiv Tone'), local('Kharkiv Tone'),
    url('../assets/Kharkiv_Tone.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Kosko Bold';
    src: local('Kosko Bold'), local('Kosko Bold'),
    url('../assets/Kosko_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
.color-lightblue {color: #B2DDF2;}
.color-pink {color: #FF96B7;}
.color-lightred {color: #FC6121;}
.color-black { color: #000000;}
.bg-orange { background: #FF8A5E;}
.bg-lightred {background: #FC6121;}
.ff-kharkiv {font-family: 'Kharkiv Tone', sans-serif;}
.ff-kosko {font-family: 'Kosko Bold', sans-serif;}
html {
    font-size: 20px;
    background: #004739;
    scroll-behavior: smooth;
    color: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    line-height: 104%;
    text-decoration: none;
    border: none;
    font-family: 'Inter', sans-serif;
}
section.hero,
section.for {
    background-color: #FC6121;
    background-image: url("images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 2rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
section.hero header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .75rem .5rem 2rem;
    border-radius: 64px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.12);
}
section.hero header > img {
    height: 25px;
    width: auto;
}
section.hero header a {
    text-decoration: none;
    color: #004739;
    display: flex;
    gap: .5rem;
    font-size: 1.2rem;
    align-items: center;
    border-radius: 64px;
    padding: 1rem 2rem;
    background: #FFF;
    box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.58) inset;
}
section.hero header a img {
    height: 1.2rem;
    width: auto;
}
section.hero .content {
    display: flex;
    gap: 2rem;
    align-items: center;
}
section.hero .content > .left {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
section.hero .content > .right {
    flex: 1.5;
    position: relative;
}
section.hero img.abs {
    position: absolute;
    bottom: .5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    z-index: 5;

}
section.hero .content .right img:not(.abs) {
    height: auto;
    width: 100%;
    z-index: 100;
    position: relative;
}
section.hero .left .top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
section.hero .text-top {
    padding: 1rem 2rem;
    font-size: 2.5rem;
    border-radius: 71.028px;
    background: #D23C17;
    width: fit-content;
}
section.hero .text-bottom {
    font-size: 3rem;
}
section.hero .list {
    display: flex;
    gap: 1rem;
}
section.hero .list > div {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 51.258px;
    background: rgba(255, 255, 255, 0.12);
    padding: .5rem 1rem;
}
section.hero .list > div p {
    font-size: .9rem;
}
section.hero .list > div img {
    width: .8rem;
    height: auto;
}
section.hero .left .bottom {
    display: flex;
    gap: 4rem;
}
section.hero .left > .bottom .left div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section.hero .left .bottom img:not(.abs) {
    height: 1.1rem;
    width: fit-content;
    max-width: 100%;
    object-fit: contain;
    align-self: flex-start;
}
section.hero .left .bottom p:first-of-type {
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
}
section.hero .left .bottom p:last-of-type {
    font-size: 1.6rem;
}
section.hero .bottom div.mobile {
    display: none;
}
section.hero .left .bottom > .left {
    display: flex;
    gap: 4rem;
}
section.for .title {
    display: flex;
    flex-direction: column;
}
section.for .title > div {
    display: flex;
    align-items: center;
    gap: .5rem;
}
section.for .title > div:first-of-type img {
    width: 2.5rem;
    height: auto;
}
section.for .title span,
section.for .title > div {
    font-size: 2.5rem;
}
section.for .title > div:last-of-type img {
    height: 4rem;
    width: auto;
}
section.for .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1.5rem;
    grid-auto-flow: row;
    grid-template-areas:
    "a a b b c c c"
    "a a b b c c c"
    "d d d e e f f"
    "d d d e e f f";
    margin-top: 1rem;
}
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }
section.for .content > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 52px;
    border: 1px solid rgba(255, 249, 249, 0.40);
    background-image: linear-gradient(147deg, rgba(147, 31, 31, 0.56) 7.06%, rgba(255, 107, 72, 0.56) 93.42%);
}
section.for .content > div .title {
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 125%;
}
section.for .content > div .text {
    font-size: .9rem;
    line-height: 125%;
}
section.for .content > div .after {
    font-size: .8rem;
    opacity: .7;
    line-height: 125%;
}
section.for .content > div.c {
    background-image: url("images/icon-5.png"), linear-gradient(147deg, rgba(147, 31, 31, 0.56) 7.06%, rgba(255, 107, 72, 0.56) 93.42%);
    background-repeat: no-repeat;
    background-size: 7rem auto, 100% 100%;
    background-position: 97% 100%;
}
section.for .content > div.d {
    background-image: url("images/icon-6.png"), linear-gradient(147deg, rgba(147, 31, 31, 0.56) 7.06%, rgba(255, 107, 72, 0.56) 93.42%);
    background-repeat: no-repeat;
    background-size: 7rem auto, 100% 100%;
    background-position: bottom left;
}
br.mobile {
    display: none;
}
section.author {
    padding: 2rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #FC6121;
}
section.author .content {
    display: flex;
    gap: 3rem;
}
section.author .content > div {
    flex: 1;
    min-height: 600px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 48px;
    background-color: #004739;
    position: relative;
}
section.author .content > div:first-of-type {
    background-image: url("images/bg-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}




@media screen and (min-width: 2560px) and (max-width: 3840px) {
    html {
        font-size: 24px;
    }
    section.hero,
    section.for {
        padding: 3rem 15% 3rem 15%;
    }
}
@media only screen and (min-width: 1921px) and (max-width: 2559px) {
    html {
        font-size: 22px;
    }
    section.hero,section.for {
        padding: 3rem 10% 5rem 10%;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
}
@media only screen and (min-width: 1240px) and (max-width: 1600px) {

}
@media only screen and (min-width: 1240px) and (max-width: 1440px) {
    html {
        font-size: 18px;
    }
    section.hero,section.for {
        padding: 2rem 3rem;
    }
    section.for .content > div {
        padding: 1.25rem;
        gap: .75rem;
        border-radius: 36px;
    }
    section.for .content > div br {
        display: none;
    }
    section.for .content {
        gap: 1.25rem;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    html {
        font-size: 14px;
    }
    section.hero,section.for {
        padding: 2rem;
    }
    section.for .content > div {
        padding: 1.25rem;
        gap: .75rem;
        border-radius: 36px;
    }
    section.for .content {
        gap: 1rem;
    }
}
@media only screen and (min-width: 830px) and (max-width: 1023px) {
    html {
        font-size: 14px;
    }
    section.hero,section.for {
        padding: 2rem 1rem;
    }
    section.hero .content {
        gap: 0;
    }
    section.hero .text-bottom {
        font-size: 2.75rem;
    }
    section.for .content {
        gap: .5rem;
    }
    section.for .content > div br {
        display: none;
    }
    section.for .content > div {
        padding: 1.25rem;
        gap: .5rem;
        border-radius: 24px;
    }
    section.for .content > div .title {
        font-size: 1.25rem;
    }
}
@media only screen and (max-width: 829px) {
    html {
        font-size: 16px;
    }
    section.hero,section.for {
        padding: 1.5rem 1rem;
    }
    section.hero .content .right {
        display: none;
    }
    section.hero .text-bottom {
        font-size: 2.65rem;
    }
    section.hero .content .left {
        gap: 3rem;
    }
    section.hero .left .bottom {
        justify-content: space-between;
    }
    section.hero .left .bottom div.mobile {
        display: block;
        width: 50%;
        height: auto;
        position: relative;
        z-index: 100;
    }
    section.hero .left .bottom div.mobile img:not(.abs) {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 100;
    }
    section.hero .left .bottom .left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    section.hero .list > div p {
        font-size: .85rem;
    }
    section.hero .text-top {
        font-size: 2.25rem;
    }
    section.for .content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f";
        justify-items: center;
    }
    section.for .content > div {
        width: 80%;
        padding: 1.5rem 4rem 1.5rem 1.5rem;
        border-radius: 32px;
    }
    section.for .content > div br:not(.mobile) {
        display: none;
    }
    section.for > .title {
        width: fit-content;
        margin: auto;
    }
    br.mobile {
        display: block;
    }
    section.for .content > div .text {
        font-size: 1.1rem;
    }
    section.for .content > div .after {
        font-size: 1rem;
    }
    section.for .content > div .title {
        line-height: 145%;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
    section.hero .text-bottom {
        font-size: 2.25rem;
    }
    section.hero .text-top {
         font-size: 2rem;
        padding: 1rem 1.5rem;
    }
    section.hero .list {
        gap: .5rem;
    }
    section.hero .list > div {
        padding: .5rem;
    }
    section.for .content > div {
        width: 100%;
        border-radius: 24px;
    }
}
@media only screen and (max-width: 480px) {
    html {
        font-size: 13px;
    }
    section.hero, section.for {
        padding: 2rem 10px 4rem 10px;
    }
    section.hero header > img {
        height: 20px;
    }
}
@media only screen and (max-width: 420px) {
    html {
        font-size: 12px;
    }
}
@media only screen and (max-width: 380px) {
    html {
        font-size: 11.5px;
    }
}
@media only screen and (max-width: 366px) {
    html {
        font-size: 10.5px;
    }
}