@font-face {
    font-family: 'Kharkiv Tone';
    src: local('Kharkiv Tone'), local('Kharkiv Tone'),
    url('../assets/Kharkiv_Tone.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
.color-lightblue {color: #B2DDF2;}
.color-pink {color: #FF96B7;}
.color-lightred {color: #FC6121;}
.color-black { color: #000000;}
.bg-orange { background: #FF8A5E;}
.bg-lightred {background: #FC6121;}
html {
    font-family: 'Kharkiv Tone', sans-serif;
    font-size: 20px;
    background: #FC6121;
    scroll-behavior: smooth;
    color: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    line-height: 104%;
    text-decoration: none;
    border: none;
    font-family: 'Kharkiv Tone', sans-serif;
}

section.hero {
    padding: 2rem 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-image: url("images/hero-bg-1.png"), url("images/hero-bg-2.png");
    background-position: bottom right, 0 25%;
    background-repeat: no-repeat;
    background-size: auto 90%, auto 80%;
}
section.hero .wordmark {
    height: 1.25rem;
    width: auto;
    margin: 0 auto 2rem auto;
    max-width: 100%;
    object-fit: contain;
    align-self: flex-start;
}
section.hero .title {
    font-size: 4rem;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    margin: auto;
}
section.hero .title img {
    width: 5rem;
    height: auto;
    transform: skewY(2deg);
}
section.hero .after {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
section.hero .after > div {
    font-size: 1.1rem;
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
    text-align: center;
}
section.hero .after > div:first-child {
    opacity: .8;
}
section.hero .after > div:last-child {
    position: relative;
}
section.hero .after > div:last-child .abs {
    position: absolute;
    left: -1.6rem;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.25rem;
    height: auto;
}
section.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section.hero .content * {
    font-family: 'Inter', sans-serif;
}
section.hero .content .left,
section.hero .content .right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
section.hero .content .left img {
    width: 6rem;
    height: auto;
}
section.hero .content .left p span {
    font-weight: 700;
}
section.hero .content .right img {
    width: 4.5rem;
}
section.hero .content .right p {
    line-height: 140%;
}
section.hero .content .right p:last-child {
    font-weight: 700;
}
section.hero a {
    padding: 1rem 2rem;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    text-transform: uppercase;
    border: none;
    font-size: 1.75rem;
    font-family: 'Kharkiv Tone', sans-serif;
    cursor: pointer;
    white-space: nowrap;
    transition: background 0.2s ease;
    margin: 2rem auto 0 auto;
}

section.for {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    background-color: #FC6121;
    gap: 2rem;
    background-image: url("../assets/images/for-bg-2.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 225%;
}
section.for .title {
    font-size: 3.5rem;
    text-transform: uppercase;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
section.for .title span {
    background: #004739;
    color: #FFFFFF;
}
section.for .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1.5rem;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    grid-auto-flow: row;
    grid-template-areas:
    ". a b"
    "c d e";
}
.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }

section.for .content .item {
    background: #FFFFFF;
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
section.for .content .item .item-title {
    font-size: 1.1rem;
    line-height: 115%;
    text-transform: uppercase;
}
section.for .content .item .description {
    font-family: 'Inter', sans-serif;
}
section.for .content .item img {
    margin-bottom: .5rem;
    height: 3rem;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    align-self: flex-start;
}
section.for .offer {
    padding: 1.5rem 2rem;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    background: #34AD6A;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/images/offer-bg.png");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 75% 50%;
}
section.for .offer p {
    text-transform: uppercase;
    font-size: 1.25rem;
    line-height: 110%;
    width: fit-content;
}
section.for .offer > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
section.for .offer p:first-of-type {
    padding: 1rem;
    background: #FFFFFF;
}
section.for .offer img.mobile {
    width: 100%;
    height: auto;
    display: none;
}
section.for .offer p:last-child {
    font-size: 2rem;
}
section.for .offer .abs {
    position: absolute;
    right: -3rem;
    top: 0;
    height: auto;
    transform: rotate(10deg);
    width: 3rem;
}
section.for .offer a {
    padding: 1rem 2rem;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    text-transform: uppercase;
    border: none;
    font-size: 1.2rem;
    font-family: 'Kharkiv Tone', sans-serif;
    cursor: pointer;
    white-space: nowrap;
    transition: background 0.2s ease;
}
section.for .offer a {
    padding: 1rem 2rem;
    font-size: 1.75rem;
}
br.mobile,
section.hero img.mobile {
    display: none;
}

@media screen and (min-width: 2560px) and (max-width: 3840px) {
    html {
        font-size: 24px;
    }
    section.hero, section.for {
        padding: 3rem 15%;
    }
    section.hero {
        background-position: 100% 100%, 0 50%;
        background-size: auto 125%, auto 110%;
    }
}
@media only screen and (min-width: 1921px) and (max-width: 2559px) {
    html {
        font-size: 22px;
    }
    section.hero, section.for {
        padding: 3rem 10%;
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
    section.for {
        background-position: 0 190%, 100% 0;
    }
}
@media only screen and (min-width: 1240px) and (max-width: 1600px) {
    section.for {
        background-position: 0 180%, 100% 0;
    }
}
@media only screen and (min-width: 1240px) and (max-width: 1440px) {
    html {
        font-size: 18px;
    }
    main.main > section {
        padding: 3rem 2rem;
    }
    section.for {
        background-position: 0 150%, 100% 0;
    }
}
@media only screen and (min-width: 830px) and (max-width: 1239px) {
    html {
        font-size: 16px;
    }
    main.main > section {
        padding: 2rem 1rem;
    }
    section.for .content {
        gap: 1rem;
    }
    section.for .content .item {
        padding: 1rem;
    }
    section.for {
        background-position: 0 150%, 100% 0;
    }
}
@media only screen and (min-width: 830px) and (max-width: 1023px) {
    html {
        font-size: 12px;
    }
    section.for {
        background-position: 0 160%, 100% 0;
    }
}
@media only screen and (max-width: 829px) {
    html {
        font-size: 16px;
    }
    br.mobile {
        display: block;
    }
    br:not(.mobile) {
        display: none;
    }
    main.main > section {
        padding: 2rem 2rem;
    }
    section.for .title,
    section.for .title span {
        font-size: 3rem;
        font-family: 'Kharkiv Tone', sans-serif;
    }
    section.for .content {
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            "e";
    }
    section.for .content .item .item-title {
        font-size: 1.25rem;
    }
    section.for .content .item .description {
        font-size: 1.15rem;
    }
    section.for .content .item img {
        height: 4.5rem;
        min-height: 4.5rem;
    }
    section.for .offer {
        width: 80%;
        flex-direction: column;
        padding: 1rem;
        position: relative;
    }
    section.for .offer p:first-of-type {
        position: initial;
    }
    section.for .offer p br {
        display: none;
    }
    section.for .offer .abs {
        position: absolute;
        right: 0;
        top: 50%;
        height: auto;
        transform: translate(-50%, -50%) rotate(10deg);
        width: 3rem;
    }
    section.for .offer p {
        font-size: 1.35rem;
    }
    section.for .offer a {
        margin-top: 1rem;
    }
    section.for {
        background-position: 0 110%, 100% 0;
    }
    section.for .offer {
        background-image: none;
        padding: 1.5rem;
    }
    section.for .offer img.mobile {
        display: block;
    }
    section.for .offer p {
        text-align: center;
        margin: auto;
    }
    section.hero .after {
        gap: 0;
    }
    section.hero .after > div {
        line-height: 135%;
    }
    section.hero .after > div:last-child .abs {
        transform: initial;
    }
    section.hero .content {
        flex-direction: column-reverse;
        gap: 1rem;
    }
    section.hero .content .left {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
    section.hero .content .left img {
        width: 8rem;
    }
    section.hero .content .left p {
        width: fit-content;
    }
    section.hero .title {
        font-size: 3.5rem;
    }
    section.hero .title img {
        width: 4rem;
    }
    section.hero .wordmark {
        margin-bottom: 1rem;
    }
    section.hero {
        background-size: auto 50%, auto 40%;
        background-position: top right, bottom left;
    }
}
@media only screen and (max-width: 700px) {
    section.for {
        background-position: 0 107%, 100% 0;
    }
}
@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
    section.for .offer img.mobile {
        margin: -1rem auto;
    }
    section.for .content,
    section.for .offer {
        width: 100%;
    }
    section.for .offer p {
        font-size: 1.2rem;
    }
    section.for .offer .abs {
        top: 75%;
    }
    section.for .offer a {
        font-size: 1.5rem;
    }
    section.for .title br:not(.mobile) {
        display: none;
    }
    section.for .content .item .description {
        font-size: 1.35rem;
    }
    section.for .offer a {
        padding: 1.25rem 2rem;
        width: 100%;
    }
    section.for .title {
        font-size: 3rem;
    }
    section.for .content .item .item-title {
        font-size: 1.5rem;
    }
    main.main > section.for {
        background-size: 300% auto, 60% auto;
        background-position: 0 115%, 100% 0;
        padding-bottom: 6rem;
    }
    br.mobile {
        display: block;
    }
    section.hero .content {
        align-items: flex-start;
    }
    section.hero .content .left p,
    section.hero .content .left p span,
    section.hero .content .right p {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 480px) {
    html {
        font-size: 13px;
    }
    main.main > section {
        padding: 2rem 1rem;
    }
    section.for {
        background-position: 0 105%, 100% 0;
    }
    section.hero .content .right img {
        width: 6.5rem;
    }
    section.hero .content {
        margin-top: -1.5rem;
    }
    section.hero a {
        padding: 1rem;
        width: 100%;
    }
}
@media only screen and (max-width: 420px) {
    section.for .offer p {
        font-size: 1.25rem;
    }
    main.main > section {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 380px) {
    html {
        font-size: 12px;
    }
}